/*** Reset ***/
/* This is from Kevin Powell, edit to your liking */
/* makes sizing simpler */
*,
*::before,
*::after
{
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
*
{
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* Kommenterade bort då jag inte hinner ta fram färgschema för darkmode
html {
  color-scheme: dark light;
} */

min body height body
{
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video
{
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6
{
  text-wrap: balance;
}

p,
li,
figcaption
{
  text-wrap: pretty;
  /* max-width: 55ch; */
}

/* for container queries, landmarks as containers */
body> :is(header, footer),
main
{
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"]
{
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Från Kevin Powells video FormStyling Essentials*/
input,
button
{
  font: inherit;
}

/*** Theme ***/

:root
{
  /* color definitions */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  /* font weights definitions */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Font sizes definitions */
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;


  /*** Theme setup ***/

  /* font family */
  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  /* theme color assignments */
  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);

  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  /* Font weights assignments */
  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  /* Border shadow */
  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* Spacing */
  --spacing-base: 1rem;

  --flow-space: 1.75em;
  --flow-space-lg: 4em;

  /*Formulärens input*/
  --input-padding: 1.25rem;
  --input-radius: 25px;

}

/*** Global/base ***/
h1,
h2,
h3
{
  font-weight: var(--fw-bold);
  line-height: 1;
}

h1,
h2
{
  font-size: var(--fs-700);
}

h3
{
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a
{
  text-decoration: none;
  color: var(--clr-green-400);

  &:hover,
  &:focus-visible
  {
    text-decoration: underline;
  }
}

/* generella formateringsregler för de tre olika responsive designerna*/

/*Mobil*/
@media(max-width:767px)
{

  h1,
  h2
  {
    font-size: var(--fs-500);
  }

  .container
  {
    width: 320px;
    margin: auto;
  }

  .heroBanner
  {
    border: 8px solid var(--clr-neutral-100);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      'imgOne imgTwo'
      'imgThree imgFour'
      'imgFive imgSix';

    img
    {
      width: 120px;
      height: 120px;
      overflow: hidden;
    }
  }

}

/*Tablet*/
@media(min-width:768px)
{

  h1,
  h2
  {
    font-size: var(--fs-600);
  }

  .container
  {
    width: 640px;
    margin: auto;
  }

  .heroBanner
  {
    border: 12px solid var(--clr-neutral-100);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'imgOne imgTwo imgThree'
      'imgFour imgFive imgSix';

    img
    {
      width: 240px;
      height: 240px;
      overflow: hidden;
    }
  }

}

/*Desktop*/
@media(min-width:1024px)
{

  h1,
  h2
  {
    font-size: var(--fs-600);
  }

  .container
  {
    width: 1024px;
  }

  .heroBanner
  {
    border: 24px solid var(--clr-neutral-100);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'imgOne imgOne imgTwo imgThree imgFour imgFour'
      'imgOne imgOne imgFive imgFive imgSix imgSix';

    img
    {
      width: unset;
      height: unset;
    }
  }
}

body
{
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}

header
{
  background-color: var(--clr-neutral-100);
}

.headerBar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMenu
{
  width: 30%;
  color: var(--clr-accent);
  text-transform: uppercase;
  font-weight: var(--fw-bold);

  ul
  {
    display: flex;
    justify-content: space-between;
  }
}

.headerLogo
{
  display: flex;
}

main
{
  section
  {
    padding-block: calc(var(--spacing-base)*2);
  }

  background-color: var(--clr-neutral-100);

  >:nth-child(odd)
  {
    background-color: var(--clr-green-100);

  }

}

.hero
{
  display: grid;
  justify-items: center;

  p
  {
    text-align: center;
  }

}

/*
Använde https: //cssgrid-generator.netlify.app/ för att designa grid
Och instruktioner ifrån https: //www.w3schools.com/css/css_grid_item_name.asp
för att placera ut bilderna enligt mall.
*/
.heroBanner
{
  box-shadow: var(--border-shadow);
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  /*
Istället för att sätta klasser på de enskilda bildelementen fånger jag upp
dem med nth-child väljare. För att automagiskt passas in i grid arean beroende
skärmupplösningen
*/
  :first-child
  {
    grid-area: imgOne;
  }

  :nth-child(2)
  {
    grid-area: imgTwo;
  }

  :nth-child(3)
  {
    grid-area: imgThree;

  }

  :nth-child(4)
  {
    grid-area: imgFour;
  }

  :nth-child(5)
  {
    grid-area: imgFive;
  }

  :last-child
  {
    grid-area: imgSix
  }
}

.information
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.ingress
{
  /*Max väljer mellan Display och Tablet medans 80% ska komma in vid mobile*/
  /* width: min(max(55%, 70ch), 80%); var osäker på om clamp skulle fungera så låter denna ligga kvar för påminnelse*/
  width: clamp(55%, 70ch, 80%);
  padding-block: min(1rem, 2rem);
  font-size: var(--fs-200);
}

.informationForm
{

  /*
  REFACTOR - Inte nöjd med att baka in media queries för att få formulärets
  flexbox att bli större när skärmen blir mindre.
  */
  @media(min-width:768px)
  {
    width: 50%;
  }

  @media(min-width:1024px)
  {
    width: 30%;
  }

  display: grid;
  gap: calc(var(--spacing-base)*2);
}

input
{
  width: 100%;
  border-style: none;
  border-radius: var(--input-radius);
  padding-inline: var(--input-padding);
}

.wrapInputs
{
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  border: 1px solid var(--clr-primary);
  border-radius: var(--input-radius);
}

.greenButton
{
  color: var(--clr-neutral-100);
  background-color: var(--clr-green-400);
  border: none;
  border-radius: var(--input-radius);
  padding-inline: var(--input-padding);
  padding-block: 0.4rem;
}

.greenRound
{
  padding: max(10%, 3rem);
  background: var(--clr-green-400);
  border-radius: 100%;
}

.history
{
  width: 40%;
  display: grid;
  gap: calc(var(--spacing-base)*2);
  font-size: small;
}

footer
{
  color: white;
  background: var(--clr-green-400);
}

/*** Composition ***/
.flow>*+*
{
  margin-block-start: var(--flow-space);
}

.flow-lg>*+*
{
  margin-block-start: var(--flow-space-lg);
}

/*
See these for more info:
https://www.youtube.com/watch?v=c13gpBrnGEw
https://www.youtube.com/watch?v=cf-J4ffMBfo
*/
.content-grid,
.fullwidth
{
  --_content-width: 70rem;
  --_min-margin-width: 1rem;

  display: grid;
  grid-template-columns: [fullwidth-start] minmax(var(--_min-margin-width), 1fr) [content-start] min(100% - var(--_min-margin-width) * 2,
      var(--_content-width)) [content-end] minmax(var(--_min-margin-width), 1fr) [fullwidth-end];
  /*  grid-template-rows: [fullwidth-start] auto [fullwidth-end];*/
}

/* keep the content of the content-grid and fullwidth inside the content container */
.content-grid>*,
.fullwidth>*
{
  grid-column: content;
}

/* a bit more complex but more fancy/explicit version of above */
/*.content-grid > :not(.fullwidth),
.fullwidth > :not(.fullwidth) {
  grid-column: content;
}*/

/* if we have a fullwidth inside of a content-grid put this in the fullwidth container */
.content-grid>.fullwidth
{
  grid-column: fullwidth;
}


/*** Utilities ***/

.visually-hidden
{
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}