/*** Reset ***/
/* This is from Kevin Powell, edit to your liking */
/* makes sizing simpler */
*,
*::before,
*::after
{
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
*
{
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* Kommenterade bort då jag inte hinner ta fram färgschema för darkmode
html {
  color-scheme: dark light;
} */

min body height body
{
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video
{
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6
{
  text-wrap: balance;
}

p,
li,
figcaption
{
  text-wrap: pretty;
  /* max-width: 55ch; */
}

/* for container queries, landmarks as containers */
body> :is(header, footer),
main
{
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"]
{
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Från Kevin Powells video FormStyling Essentials*/
input,
button
{
  font: inherit;
}

/*** Theme ***/

:root
{
  /* color definitions */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  /* font weights definitions */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Font sizes definitions */
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;


  /*** Theme setup ***/

  /* font family */
  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  /* theme color assignments */
  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);

  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  /* Font weights assignments */
  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  /* Border shadow */
  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* Spacing */
  --spacing-base: 1rem;

  --flow-space: 1.75em;
  --flow-space-lg: 4em;

  /*Formulärens input*/
  --input-padding: 1.25rem;
  --input-radius: 25px;

  /*Mjuka upp övergångarna när man ändrar upplösningen
  (överarbetade för egen tydlighet)*/
  --transition-element: all;
  --transition-time: 300ms;
  --transition-effect: linear;
  --transition-base: var(--transition-element) var(--transition-time) var(--transition-effect);


  /*Storlekar på container som sätts i mediaqueries*/
  --container-width-mobile: 320px;
  --container-width-tablet: 640px;
  --container-width-desktop: 1024px;
  --container-margin: auto;
  --container-transition: var(--transition-base);

  /*Variabler till herobilden samlade på ett ställe för att sättas i mediaqueries*/
  --hero-border-small: calc(var(--hero-border-medium)*0.75);
  --hero-border-medium: 12px;
  --hero-border-large: calc(var(--hero-border-medium)*2);

  --hero-img-size-small: 120px;
  --hero-img-size-medium: 240px;
  --hero-img-size-large: unset;

  /*
Använde https: //cssgrid-generator.netlify.app/ för att designa grid
Och instruktioner ifrån https: //www.w3schools.com/css/css_grid_item_name.asp
för att placera ut bilderna enligt mall.
*/

  --hero-img-columns-small: repeat(2, 1fr);
  --hero-img-columns-medium: repeat(3, 1fr);
  --hero-img-columns-large: repeat(6, 1fr);

  --hero-img-rows-small: repeat(3, 1fr);
  --hero-img-rows-medium: repeat(2, 1fr);
  --hero-img-rows-large: repeat(2, 1fr);

  --hero-img-gridarea-small:
    'imgOne imgTwo'
    'imgThree imgFour'
    'imgFive imgSix';
  --hero-img-gridarea-medium:
    'imgOne imgTwo imgThree'
    'imgFour imgFive imgSix';
  --hero-img-gridarea-large:
    'imgOne imgOne imgTwo imgThree imgFour imgFour'
    'imgOne imgOne imgFive imgFive imgSix imgSix';
}

/*** Global/base ***/
h1,
h2,
h3
{
  font-weight: var(--fw-bold);
  line-height: 1;
}

h1,
h2
{
  font-size: var(--fs-700);
}

h3
{
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a
{
  text-decoration: none;
  color: var(--clr-green-400);

  &:hover,
  &:focus-visible
  {
    text-decoration: underline;
    outline: none;
  }
}

/* Generella formateringsregler för de tre olika responsive designerna*/

/*Mobil*/
@media(max-width:767px)
{
  .container
  {
    --container-width: var(--container-width-mobile);
  }

  h1,
  h2
  {
    font-size: var(--fs-500);
  }

  .headerMobileMenu>*
  {
    display: inline;
  }

  .heroBanner
  {
    --border-hero: var(--hero-border-small);
    --hero-img-columns: var(--hero-img-columns-small);
    --hero-img-rows: var(--hero-img-rows-small);
    --hero-img-gridarea-: var(--hero-img-gridarea-small);

    >img
    {
      --image-hero-size: var(--hero-img-size-small);
    }
  }
}

/*Tablet*/
@media(min-width:768px)
{
  .container
  {
    --container-width: var(--container-width-tablet);
  }

  h1,
  h2
  {
    font-size: var(--fs-600);
  }

  .headerMobileMenu
  {
    display: none;
  }

  .heroBanner
  {
    --border-hero: var(--hero-border-medium);
    --hero-img-columns: var(--hero-img-columns-medium);
    --hero-img-rows: var(--hero-img-rows-medium);
    --hero-img-gridarea-: var(--hero-img-gridarea-medium);

    img
    {
      --image-hero-size: var(--hero-img-size-medium);
    }
  }
}

/*Desktop*/
@media(min-width:1024px)
{
  .container
  {
    --container-width: var(--container-width-desktop);
  }

  h1,
  h2
  {
    font-size: var(--fs-600);
  }

  .headerMobileMenu
  {
    display: none;
  }

  .heroBanner
  {
    --border-hero: var(--hero-border-large);
    --hero-img-columns: var(--hero-img-columns-large);
    --hero-img-rows: var(--hero-img-rows-large);
    --hero-img-gridarea-: var(--hero-img-gridarea-large);

    img
    {
      --image-hero-size: var(--hero-img-size-large);
    }
  }
}

.cardsGallery
{
  display: grid;
  /*Magic formula from mr Powell*/
  grid-template-columns: repeat(auto-fit, minmax(min(240px, 100%), 1fr));
  gap: calc(var(--spacing-base)*0.5);
}

.card
{
  display: grid;
  grid-template-rows: subgrid;
  /*
  Satte span 5 istället för 1/6 för att fortsätta kunna wrappa korten
  när container width ändras
  */
  grid-row: span 5;
  border: 1px solid var(--clr-neutral-200);
  box-shadow: var(--border-shadow);
  justify-items: stretch;
  gap: 1rem;
  cursor: pointer;
  color: inherit;
  background-color: var(--clr-neutral-100);
  ;

  >*:not(img)
  {
    margin-inline: var(--spacing-base);
  }

  >p
  {
    font-size: var(--fs-300);
  }

  /*Osäker på hur hover effekten för kort länkarna skulle se ut så gjorde liknannde
    som på pannkakorna*/
  &:hover,
  &:focus
  {
    text-decoration: none;

    >h3
    {

      text-decoration: underline;
      text-decoration-color: var(--clr-accent);
      text-decoration-thickness: 5px;
    }
  }

}

.cardImage
{
  grid-area: 1/1;
  /*WidthUnset för att .card justify-items stretch ska fylla ut bilden kant till kant. heightAuto för att säkerställa korrekt aspect ratio.*/
  width: unset;
  height: auto;

}

.cardSelectors
{
  display: flex;
  flex-wrap: wrap;
  /* gap: calc(var(--spacing-base)*0.25); */

}

.cardUser
{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--spacing-base);
  margin-block: 1rem;
}

.cardUserAvatar
{
  background-color: var(--clr-neutral-200);
  border-radius: 100%;
  border: .15rem solid var(--clr-neutral-900);
  aspect-ratio: 1/1;
  overflow: hidden;

  >img
  {

    /*Tvingades zooma in på default bilden på avatarer för att "kroppen" inte ska se avhuggen ut*/
    /*Hack, justerade zoom och "puttade ned" bilden på mindre skärmar för att uppnå liknande effekt som
    på desktop*/
    @media (max-width:1023px)
    {
      padding-top: 1rem;
      transform: scale(1.5);
    }

    @media(min-width:1024px)
    {
      transform: scale(1.2);
    }
  }
}

.cardUserDetails
{
  display: grid;
  align-content: center;

}

.cardUserDetailsName
{
  color: var(--clr-accent);
  font-weight: var(--fw-600);
}

.center
{
  justify-self: center;
  padding-block: var(--spacing-base);
}

.container
{
  width: var(--container-width);
  margin: var(--container-margin);
  transition: var(--container-transition);

}

header
{
  background-color: var(--clr-neutral-100);
}

.headerBar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMenu
{
  @media(min-width:768px)
  {
    width: 50%;
  }

  @media(min-width:1024px)
  {
    width: 35%;
  }

  color: var(--clr-accent);
  text-transform: uppercase;
  font-weight: var(--fw-bold);

  ul
  {
    display: flex;
    justify-content: space-between;
  }
}

.headerMenuLink
{
  padding: 14px 10px;
  transition: 350ms;

}

.headerLogo
{
  /*Sätter färgen som svg använder i fill="currencolor"*/
  color: var(--clr-accent);
  display: flex;
  transition: 350ms;
}

.headerLogo,
.headerMenuLink
{

  &:hover,
  &:focus
  {
    color: var(--clr-neutral-100);
    background-color: var(--clr-accent);
    text-decoration: none;
    cursor: pointer;
    outline: none;
  }
}


body
{
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);

}

main
{
  >div
  {
    padding-block: calc(var(--spacing-base)*2);
  }

  background-color: var(--clr-neutral-100);

  >:nth-child(odd)
  {
    background-color: var(--clr-green-100);

  }
}

.hero
{
  display: grid;
  justify-items: center;

  p
  {
    text-align: center;
  }

}


.heroBanner
{
  border: var(--border-hero) solid var(--clr-neutral-100);
  box-shadow: var(--border-shadow);
  display: grid;
  grid-template-columns: var(--hero-img-columns);
  grid-template-rows: var(--hero-img-rows);
  grid-template-areas: var(--hero-img-gridarea-);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  >img
  {
    width: var(--image-hero-size);
    height: var(--image-hero-size);
    /*La till nedan för att bilderna inte ska se skeva ut när gridcellerna ändras och bilderna placeras annorlunda jämfört med desktop och orginal-apect-ratio*/
    object-fit: cover;
    overflow: hidden;
  }

  /*
  Istället för att sätta klasser på de enskilda bildelementen fånger jag upp
  dem med nth-child väljare. För att automagiskt passas in i grid arean beroende
  skärmupplösningen
  */
  :first-child
  {
    grid-area: imgOne;
  }

  :nth-child(2)
  {
    grid-area: imgTwo;
  }

  :nth-child(3)
  {
    grid-area: imgThree;
  }

  :nth-child(4)
  {
    grid-area: imgFour;
  }

  :nth-child(5)
  {
    grid-area: imgFive;
  }

  :last-child
  {
    grid-area: imgSix
  }
}



.information
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;

  @media(max-width: 768px)
  {
    flex-direction: column;

    &:has(form)
    {
      flex-direction: column-reverse;
    }
  }
}


.informationForm
{

  /*
  REFACTOR - Inte nöjd med att baka in media queries för att få formulärets
  flexbox att bli större när skärmen blir mindre.
  */
  @media(min-width:768px)
  {
    width: 50%;
  }

  @media(min-width:1024px)
  {
    width: 30%;
  }

  display: grid;
  gap: calc(var(--spacing-base)*2);
}

.ingress
{
  /*Max väljer mellan Display och Tablet medans 80% ska komma in vid mobile*/
  /* width: min(max(55%, 70ch), 80%); var osäker på om clamp skulle fungera så låter denna ligga kvar för påminnelse*/
  width: clamp(55%, 70ch, 80%);
  padding-block: 1rem;
  font-size: var(--fs-200);
}

input
{
  width: 100%;
  border-style: none;
  border-radius: var(--input-radius);
  padding-inline: var(--input-padding);

  &:focus
  {
    outline: none;
  }
}

.wrapInputs
{
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  border: 1px solid var(--clr-primary);
  border-radius: var(--input-radius);
}

.greenButton
{
  color: var(--clr-neutral-100);
  background-color: var(--clr-green-400);
  border: 1px solid var(--clr-green-400);
  border-radius: var(--input-radius);
  padding-inline: var(--input-padding);
  padding-block: 0.4rem;
  transition: 350ms;

  &:hover,
  &:focus
  {
    color: var(--clr-green-400);
    background-color: var(--clr-neutral-100);
    text-decoration: none;
    outline: none;
  }
}

.greenRound
{
  padding: max(10%, 3rem);
  background: var(--clr-green-400);
  border-radius: 100%;
}

.hideWhenMobile
{
  @media(max-width:767px)
  {
    display: none;
  }

  @media(min-width:768px)
  {
    display: inline;
  }
}

.history
{
  width: 40%;

  @media (max-width:767px)
  {
    width: 100%;
  }

  display: grid;
  gap: calc(var(--spacing-base)*2);
  font-size: small;

  .greenButton
  {
    justify-self: end;
    text-align: center;
    width: 22ch;
  }
}

footer
{
  display: flex;
  justify-content: space-between;
  background: var(--clr-green-400);
  padding: var(--spacing-base);
  color: var(--clr-neutral-100)
}

.footerAbout
{
  width: 60%;
  display: grid;
  gap: var(--spacing-base);

  h3
  {
    font-weight: bold;
  }

  p
  {
    font-size: var(--fs-200);
  }

  a
  {
    color: inherit;
    font-weight: bold;
  }
}

.footerMenu
{
  nav
  {
    height: 100%;

  }

  ul
  {
    height: 100%;
    display: grid;
    align-content: space-evenly;
  }

  a
  {
    color: inherit;
  }
}


/*** Composition ***/
.flow>*+*
{
  margin-block-start: var(--flow-space);
}

.flow-lg>*+*
{
  margin-block-start: var(--flow-space-lg);
}

/*
See these for more info:
https://www.youtube.com/watch?v=c13gpBrnGEw
https://www.youtube.com/watch?v=cf-J4ffMBfo
*/
.content-grid,
.fullwidth
{
  --_content-width: 70rem;
  --_min-margin-width: 1rem;

  display: grid;
  grid-template-columns: [fullwidth-start] minmax(var(--_min-margin-width), 1fr) [content-start] min(100% - var(--_min-margin-width) * 2,
      var(--_content-width)) [content-end] minmax(var(--_min-margin-width), 1fr) [fullwidth-end];
  /*  grid-template-rows: [fullwidth-start] auto [fullwidth-end];*/
}

/* keep the content of the content-grid and fullwidth inside the content container */
.content-grid>*,
.fullwidth>*
{
  grid-column: content;
}

/* a bit more complex but more fancy/explicit version of above */
/*.content-grid > :not(.fullwidth),
.fullwidth > :not(.fullwidth) {
  grid-column: content;
}*/

/* if we have a fullwidth inside of a content-grid put this in the fullwidth container */
.content-grid>.fullwidth
{
  grid-column: fullwidth;
}


/*** Utilities ***/

.visually-hidden
{
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*Vattenmärket för cards*/
.watermark
{
  grid-area: 1/1;
  opacity: 25%;
  align-self: center;
  justify-self: center;
  max-width: 100%;
}

/*Lägger Selectors sist så de inte ligger i vägen under utvecklingen.*/
.selector
{
  text-transform: uppercase;
  font-size: x-small;
  font-weight: bold;
  padding-inline: calc(var(--spacing-base)*0.5);
  padding-block: calc(var(--spacing-base)*0.2);
  margin-inline: calc(var(--spacing-base)*0.1);
  border-radius: 25px;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary);
}

.selectorFlower
{
  background-color: var(--clr-flower);
}

.selectorEdible
{
  background-color: var(--clr-edible);
}

.selectorGreen
{
  background-color: var(--clr-green);
}

.selectorRobust
{
  background-color: var(--clr-robust);
}

.selectorColorful
{
  background-color: var(--clr-colorful);
}

.selectorSunloving
{
  background-color: var(--clr-sunloving);
}

.selectorAir
{
  background-color: var(--clr-air);
}

.selectorDecorative
{
  background-color: var(--clr-decorative);
}

.selectorEasy
{
  background-color: var(--clr-easy);
}

.selectorFragrant
{
  background-color: var(--clr-fragrant);
}

.selectorFast
{
  background-color: var(--clr-fast);
}